<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form  class="md-float-material form-material" (ngSubmit)="onSubmit()" method="post" #userFrom="ngForm">
                    <div class="text-center">
                        <h1 style="font-weight:bold !important; color: rgb(212, 212, 227) !important">VTRM</h1>
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Sign In</h3>
                                </div>
                            </div>
                            <!-- @if (ViewBag.IsError == true)
                            {
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h6 class="text-center text-danger">@ViewBag.Message</h6>
                                    </div>
                                </div>
                            } -->

                            <div class="form-group form-primary">
                                <input type="text" id="email" name="email" [(ngModel)]="loginDto.email" class="form-control" required="" placeholder="Email">
                            </div>
                            <div class="form-group form-primary">
                                <div class="input-group">
                                    <input type="password" id="password" name="password" [(ngModel)]="loginDto.password" class="form-control" required="" id="password" placeholder="Password">
                                    <span class="input-group-addon" style="background-color: #424949 !important">
                                        <i class="fa fa-eye" id="addonpassword"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                            <input type="checkbox" name="RememberMe">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse" style="color: #424949 !important;">Remember me</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-md btn-block btn-round waves-effect waves-light text-center m-b-20" style="background-color: #424949; color: white;">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
